.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.alignMiddle {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verticalAlign {
  display: flex;
  justify-content: center;
}

.right {
  float: right;
}

.p-0 {
  padding: 0;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-t-b-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p-l-10 {
  padding-left: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.select-type {
  /* position: relative; */
  margin: 15px 0;
  display: table;
  cursor: pointer;
}

.select-type > * {
  display: table-cell;
}

.select-type .name {
  vertical-align: middle;
  padding-left: 10px !important;
}
/* create custom radio button to part. size and hidden */
/* .select-type .custom-radio {
  height: 30px;
  width: 30px;
  opacity: 0;
  margin: 0 !important;
} */

.select-type .outer {
  width: 30px;
  height: 30px;
  border: 2px solid;
  /* border: 2px solid orange; */
  padding: 4px;
  box-sizing: border-box;
  /* position: absolute; */
  top: 0;
}

.select-type .outer .inner {
  width: 100%;
  height: 100%;
}
.all {
  border-color: #f6955f !important;
}
.all .inner {
  background-color: #f6955f !important;
}
.ideal {
  border-color: #82b858 !important;
  color: #82b858 !important;
}

.ideal .inner {
  background-color: #82b858 !important;
}

.useful {
  border-color: #2fb1dd !important;
  color: #2fb1dd !important;
}

.useful .inner {
  background-color: #2fb1dd !important;
}

.not-ready {
  border-color: #f1ba31 !important;
  color: #f1ba31 !important;
}

.not-ready .inner {
  background-color: #f1ba31 !important;
}

.avoid {
  border-color: #e65858 !important;
  color: #e65858 !important;
}

.avoid .inner {
  background-color: #e65858 !important;
}

.shortInfo {
  height: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}
.shortInfo .heading {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}
.shortInfo .content {
  line-height: 1.5;
  overflow: hidden;
  height: 65%;
  margin-top: 10px;
  /* display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.shortInfo .readMore {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid #ffff;
  cursor: pointer;
}

.text {
  text-transform: capitalize;
}

.text:hover {
  font-size: 13px;
  cursor: pointer;
}

#type-detail {
  background: #e9ebef;
  font-size: 14px;
  font-weight: 400;
}

#type-detail > div {
  width: 50%;
}

.type-heading {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.type-content {
  line-height: 2em;
  padding-top: 11px;
}

.state-heading {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}


.tech-item {
  color: #337ab7;
  padding-top: 10px;
  text-transform: capitalize;
}

.modal-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.modal-header {
  width: 97%;
  margin: auto;
}

.modal-body-seperator {
  width: 85%;
  margin: auto;
  border-bottom: 1px solid #e5e5e5;
}

.blog {
  display: inline-block;
  height: 330px;
  width: 275px;
  margin: 0 40px;
}

.blog > * {
  width: 100%;
  height: 50%;

}

.blog > img {
  min-height: 50%;
  min-width: 100%;
}

@media screen and (min-width: 1300px) {
  #type-detail > div {
    padding-left: 3%;
  }
  #technology-detail {
    padding-left: 1%;
  }
}
